<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="product-sorter"/>
  <springProperty scope="context" name="lokiUrl" source="logging.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%t] %replace([traceId=%mdc{traceId}]){'\[traceId=\]',''} %replace([requestId=%mdc{requestId}]){'\[requestId=\]',''} %replace([requestUri=%mdc{requestUri}]){'\[requestUri=\]',''} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- https://loki4j.github.io/loki-logback-appender/docs/configuration -->
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>${lokiUrl}</url>
    </http>
    <labels>
      service=${appName}
      level=%level
      logger=%logger{36}
    </labels>
    <batch>
      <maxItems>100</maxItems>
      <timeoutMs>10000</timeoutMs>
    </batch>
    <verbose>true</verbose>
    <message>
      <pattern>%d{HH:mm:ss.SSS} [%t] %replace([traceId=%mdc{traceId}]){'\[traceId=\]',''} %replace([requestId=%mdc{requestId}]){'\[requestId=\]',''} %replace([requestUri=%mdc{requestUri}]){'\[requestUri=\]',''} %msg%n</pattern>
    </message>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="LOKI"/>
  </root>
</configuration>
